MySQL-System-API_Anastasiya/ua-1185-mysql-system-api/src/main/mule/ua-1185-mysql-system-impl-invoices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<flow name="getLaunchpadByExternalId" doc:id="2f2086b8-a32a-4239-8721-86bc961db46c" >
		<set-variable value="#[ns ns0 http://example.com/rocketservice&#10;---&#10;payload.body.ns0#GetLaunchpadByExternalIdRequest.externalId]" doc:name="Set externalId for Launchpad" doc:id="bde62d51-638e-4932-8ae8-b2ceaea957f2" variableName="externalId"/>
		<validation:is-not-null doc:name="Check externalId for Launchpad is not null" doc:id="cfb83072-fe25-4ab9-84f4-be93a689d66c" value="#[vars.externalId]"/>
	<db:select doc:name="Select Launchpad by externalId from db" doc:id="dd56bbf7-c757-43cf-a27b-712ada1e41a0" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM Launchpads
WHERE externalId=:val]]></db:sql>
			<db:input-parameters><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check response from bd is not empty " doc:id="69fc5f56-826e-4a73-8055-104b4088d60d" message="empty response from bd" />
		<ee:transform doc:name="Prepare Launchpad output" doc:id="85a933a3-0985-40df-a63d-3412cca81a34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns roc http://example.com/rocketservice
---
{
    roc#GetLaunchpadByExternalIdResponse: {
        id: payload[0].id,
        externalId: payload[0].externalId,
        name: payload[0].name,
        locality:payload[0].locality,
        region: payload[0].region,
        status: payload[0].status,
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dbf608cd-4d86-40ea-96f1-18d4df18b12e" message='#["SUCCESS: Launchpad with externalID #[vars.externalId] was received."]'/>
	
</flow>
	<flow name="getLaunchByExternalId" doc:id="acba5c77-e1b7-45b9-b568-cce8eabd0146" >
		<set-variable value="#[ns ns0 http://example.com/rocketservice&#10;---&#10;payload.body.ns0#GetLaunchByExternalIdRequest.externalId]" doc:name="Set externalId for Launch" doc:id="02f5bc80-9f59-4368-a8d1-f073651df7c1" variableName="externalId"/>
		<validation:is-not-null doc:name="Check externalId for Launch is not null" doc:id="a7285223-051a-4e0e-8d8c-9ae30f4174ef" value="#[vars.externalId]"/>
		<db:select doc:name="Select Launch by externalId from db" doc:id="a3ec6521-8e93-43e6-a1bd-f2263d54c16e" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Launches
WHERE externalId=:val]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check response from bd is not empty " doc:id="b6e07812-fc3f-4790-bfae-7b9c140615bc" message="empty response from bd" />
		<ee:transform doc:name="Prepare Launch output">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns roc http://example.com/rocketservice
---
{
    roc#GetLaunchByExternalIdResponse: {
        id: payload[0].id,
        externalId: payload[0].externalId,
        success: payload[0].success,
        details:payload[0].details,
        launchName: payload[0].launchName,
        date: payload[0].date,
        rocketName: payload[0].rocketName,
        launchpad_id: payload[0].launchpad_id,
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dcf542ad-b049-4708-94b5-b1e25d1238af" message='#["SUCCESS: Launch with externalID #[vars.externalId] was received."]' />
	
</flow>
	<flow name="getRocketByExternalId" doc:id="94f0000c-6b1d-44b3-b083-fff8770caea3" >
		<set-variable value="#[ns ns0 http://example.com/rocketservice&#10;---&#10;payload.body.ns0#GetRocketByExternalIdRequest.externalId]" doc:name="Set externalId for Rocket" doc:id="06525444-9653-4335-9c64-8811ba03ffc6" variableName="externalId" />
		<validation:is-not-blank-string doc:name="Check externalId for Rocket is not null" doc:id="829a7bee-c918-44ce-aaea-79a26c173c1e" value="#[vars.externalId]" message="externalId is blank" />
		<db:select doc:name="select from Rockets by externalId" doc:id="af8784cd-f0ff-4d62-b9b4-a53ba0ecbfea" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Rockets where externalId=:val ]]></db:sql>
			<db:input-parameters ><![CDATA[#[val:vars.externalId]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check response from bd is not empty " doc:id="858c6cfc-2515-43e4-a482-b0713fddc46e" message="empty response from bd" />
		<ee:transform doc:name="Prepare Rocket output" doc:id="2508454e-5489-4791-82f8-168f46a24187" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns roc http://example.com/rocketservice
---
{
    roc#GetRocketByExternalIdResponse: {
        id: payload[0].id,
        externalId: payload[0].externalId,
        name: payload[0].name,
        active: payload[0].active,
        stages: payload[0].stages,
        costPerLaunch: payload[0].costPerLaunch,
        description: payload[0].description
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8c61ce5e-a32f-47e0-91fb-5e80321f54ff" message='#["SUCCESS: Rocket with externalID #[vars.externalId] was received."]' />
		<error-handler ref="global-error-handlingError_Handler" />
	</flow>
	<flow name="getPayloadByExternalId" doc:id="1b03ed6c-ae6b-4fba-88b4-b488a2ae6d9c" >
		<set-variable value="#[ns ns0 http://example.com/rocketservice&#10;---&#10;payload.body.ns0#GetPayloadByExternalIdRequest.externalId]" doc:name="Set externalId for Payload" doc:id="e39571c2-5ff4-4064-acf1-406363a63bf1" variableName="externalId" />
		<validation:is-not-blank-string doc:name="Check externalId for Payload is not null" doc:id="456359d2-6906-4ad9-a9be-65323d77ff3d" value="#[vars.externalId]" message="externalId is blank" />
		<db:select doc:name="select from Payloads by externalId" doc:id="b84f2a92-303d-4fd2-b703-fb81b1e6a6aa" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Payloads where externalId=:val ]]></db:sql>
			<db:input-parameters ><![CDATA[#[val:vars.externalId]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check response from bd is not empty " doc:id="0a790ae6-7876-4cd1-88fc-1415b757b5fa" message="empty response from bd" />
		<ee:transform doc:name="Prepare Payload output" doc:id="53208f10-9c59-4141-ba29-7b3970502570" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns pay http://example.com/rocketservice
---
{
    pay#GetPayloadByExternalIdResponse: {
        id: payload[0].id,
        externalId: payload[0].externalId,
        name: payload[0].name,
        'type':payload[0].'type',
        weight: payload[0].weight,
        orbit: payload[0].orbit,
        apoapsis: payload[0].apoapsis,
        periapsis: payload[0].periapsis,
        rocketId:payload[0].rocketId
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="85ae4078-8f52-400d-81ce-d5868f87df7d" message='#["SUCCESS: Payload with externalID #[vars.externalId] was received."]' />
		<error-handler ref="global-error-handlingError_Handler" />
	</flow>
	<flow name="createLauncpad" doc:id="1ce37d54-8e04-400f-8417-d5c8327ea953" >
		<ee:transform doc:name="Prepare SOAP request body" doc:id="c491ea1d-ea6c-4e4f-85a0-59678e646d4e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="externalId" ><![CDATA[ns ns0 http://example.com/rocketservice
---
payload.body.ns0#CreateLaunchpadRequest.externalId]]></ee:set-variable>
				<ee:set-variable variableName="dataXml" ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
root: payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<xml-module:validate-schema doc:name="Validate schema of input xml for creating Launchpad " doc:id="0d862750-e283-46ed-bcc4-ed171bf5b7a6" config-ref="XML_Config" schemas="schemasCreateLaunchpad\schema0.xsd, schemasCreateLaunchpad\schema0.xsd">
			<xml-module:content ><![CDATA[#[vars.dataXml]]]></xml-module:content>
		</xml-module:validate-schema>
		<db:insert doc:name="Create Launchpad in db" doc:id="178d18f0-e9b3-4e58-91d0-7e0c9455fce2" autoGenerateKeys="true" autoGeneratedKeysColumnNames="#[['id']]" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO Launchpads (externalId, name, locality, region, status) 
VALUES (:externalId, :name, :locality, :region, :status);]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
ns ns0 http://example.com/rocketservice
---
vars.dataXml.root.body.ns0#CreateLaunchpadRequest]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Successfull create message for user">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Created successfully"
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="876b1d7c-1271-4cab-8707-20f74519d29f" message='#["SUCCESS: Launchpad with externalID #[vars.externalId] was created."]' />
	
</flow>
	<flow name="createLaunch" doc:id="ad35cc14-787c-4a78-b2cb-ed609320852b" >
	<ee:transform doc:name="Prepare SOAP request body" doc:id="0f3a0541-2c02-442e-8927-8d79fe7bfa02">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="dataXml" ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
root: payload]]></ee:set-variable>
				<ee:set-variable variableName="externalId" ><![CDATA[ns ns0 http://example.com/rocketservice
---
payload.body.ns0#CreateLaunchRequest.externalId]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<xml-module:validate-schema doc:name="Validate schema of input xml for creating Launch" doc:id="f63db7f8-ae8d-4bdc-a527-2ed06df9be21" config-ref="XML_Config" schemas="schemasCreateLaunch\schema0.xsd, schemasCreateLaunch\schema1.xsd">
			<xml-module:content ><![CDATA[#[vars.dataXml]]]></xml-module:content>
		</xml-module:validate-schema>
		<db:insert doc:name="Create Launch in db" doc:id="9049c0e8-aacc-4c80-b2eb-d120986848c3" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Launches (externalId, success, details, launchName, date, rocketName, launchpad_id) 
VALUES (:externalId, :success, :details, :launchName, :date, :rocketName, :launchpad_id);]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
ns ns0 http://example.com/rocketservice
---
vars.dataXml.root.body.ns0#CreateLaunchRequest]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Successfull create message for user" doc:id="541889e6-35a3-46eb-b830-be155a287d34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Created successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="acb080df-4765-48ac-adab-b3949da0491a" message='#["SUCCESS: Launch with externalID #[vars.externalId] was created."]' />
	
</flow>
	<flow name="createRocket" doc:id="87c4c5a2-3009-4629-abc4-5c45d9989e80">
		<ee:transform doc:name="Prepare SOAP request body" doc:id="6a2e0ee8-5828-4de8-a534-354324e8dfb4">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="dataXml"><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
root: payload]]></ee:set-variable>
				<ee:set-variable variableName="externalId"><![CDATA[ns ns0 http://example.com/rocketservice
---
payload.body.ns0#CreateRocketRequest.externalId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<xml-module:validate-schema doc:name="Validate schema of input xml for creating Rocket" doc:id="e2077bd7-3996-4201-b1db-d9c901cb7af2" config-ref="XML_Config" schemas="schemasCreateRocket\schema0.xsd">
			<xml-module:content><![CDATA[#[vars.dataXml]]]></xml-module:content>
		</xml-module:validate-schema>
		<db:insert doc:name="Create Rocket in db" doc:id="ae22cc45-d804-44b3-b79a-c016b206f0aa" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO Rockets (externalId, name, active, stages, costPerLaunch, description) 
VALUES (:externalId, :name, :active, :stages, :costPerLaunch, :description);]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
ns ns0 http://example.com/rocketservice
---
vars.dataXml.root.body.ns0#CreateRocketRequest]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Successfull create message for user" doc:id="4130a2ca-8595-47f6-bf95-e9ad1aac86a3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Created successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d069aff4-7f23-44b7-ac9b-6d203345f8a5" message='#["SUCCESS: Rocket with externalID #[vars.externalId] was created."]' />
	</flow>
	<flow name="createPayload" doc:id="daedeb89-051d-461d-a5d1-f3f879ce0cb6">
		<ee:transform doc:name="Prepare SOAP request body" doc:id="cf5c2f70-efa2-4e78-a823-425eef682f97">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="dataXml"><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
root: payload]]></ee:set-variable>
				<ee:set-variable variableName="externalId"><![CDATA[ns ns0 http://example.com/rocketservice
---
payload.body.ns0#CreatePayloadRequest.externalId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<xml-module:validate-schema doc:name="Validate schema of input xml for creating Payload" doc:id="3313e894-772a-40a9-ac28-fdbb03af03ca" config-ref="XML_Config" schemas="schemasCreatePayload\schema0.xsd">
			<xml-module:content><![CDATA[#[vars.dataXml]]]></xml-module:content>
		</xml-module:validate-schema>
		<db:insert doc:name="Create Payload in db" doc:id="85375b8a-40d5-41d3-ad9f-770872ef6125" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO Payloads (externalId, name, type, weight, orbit, apoapsis, periapsis, rocketId) 
VALUES (:externalId, :name, :type, :weight, :orbit, :apoapsis, :periapsis, :rocketId);]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
ns ns0 http://example.com/rocketservice
---
vars.dataXml.root.body.ns0#CreatePayloadRequest]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Successfull create message for user" doc:id="da34ac51-3a07-413f-901f-1e9d447f9533">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Created successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fbc6cfad-b08a-42b7-95a4-91e3ac3c7a4e" message='#["SUCCESS: Payload with externalID #[vars.externalId] was created."]' />
	</flow>
	<flow name="updateLaunchpad" doc:id="e365d3ec-cb92-4aa1-9f4b-084f33db1c9f" >
	
	<ee:transform doc:name="Prepare SOAP request body" doc:id="8860ec72-8924-4c9e-8e0a-e7c6e88442fc">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="dataXml" ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
root: payload]]></ee:set-variable>
				<ee:set-variable variableName="externalId" ><![CDATA[ns ns0 http://example.com/rocketservice
---
payload.body.ns0#UpdateLaunchpadRequest.externalId]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<xml-module:validate-schema doc:name="Validate schema of update Launchpad input xml" doc:id="91c05dc3-1fc9-4f31-b75a-997a6bbb7c71" config-ref="XML_Config" schemas="schemasUpdateLaunchpad\schema0.xsd, schemasUpdateLaunchpad\schema0.xsd">
			<xml-module:content ><![CDATA[#[vars.dataXml]]]></xml-module:content>
		</xml-module:validate-schema>
		<db:select doc:name="Check if input externalId exists in db" doc:id="82ea5973-eeb5-4821-b06d-c14bc62e0755" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Launchpads
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check payload from db is empty collection" doc:id="423f85e0-8a9e-4c5b-9cd4-3659ce30d0d7" />
		<db:update doc:name="Update Launchpad in db" doc:id="dcbc7c6e-1451-4974-b208-bfeec80e6feb" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE Launchpads
SET name = :name, locality = :locality, region = :region, status = :status
WHERE externalId=:externalId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
ns ns0 http://example.com/rocketservice
---
vars.dataXml.root.body.ns0#UpdateLaunchpadRequest]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Successfull update message for user" doc:id="520ed29e-d036-42ec-88d3-9063d275140b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Updated successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9fc85fa7-2cd0-492a-bdc9-c9fa3e5bc948" message='#["SUCCESS: Launchpad with externalID #[vars.externalId] was updated."]' />
	
</flow>
	<flow name="updateLaunch" doc:id="21d267ca-0e77-47c3-ade2-1964180b0988" >
	
	<ee:transform doc:name="Prepare SOAP request body" doc:id="c2b10157-bd75-47d3-bb72-426e698ec77e">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="dataXml" ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
root: payload]]></ee:set-variable>
				<ee:set-variable variableName="externalId" ><![CDATA[ns ns0 http://example.com/rocketservice
---
payload.body.ns0#UpdateLaunchRequest.externalId]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
        <xml-module:validate-schema doc:name="Validate schema of update Launch input xml" doc:id="e0cd7866-0853-4ad3-8f8f-899bab748f5e" schemas="schemasUpdateLaunch\schema0.xsd" config-ref="XML_Config">
			<xml-module:content ><![CDATA[#[vars.dataXml]]]></xml-module:content>
		</xml-module:validate-schema>
		<db:select doc:name="Check if input externalId exists in db" doc:id="c3662c48-cb72-4d9a-b7ef-a3fe460f2057" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Launches
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check payload from db is empty collection" doc:id="9faaa818-b5d8-4d58-b424-ca69a57b2a42" />
		<db:update doc:name="Update Launch in db" doc:id="306fab40-46a8-479e-b69e-9eece709c3c1" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE Launches
SET success = :success, details = :details, launchName = :launchName, date = :date, rocketName = :rocketName
WHERE externalId=:externalId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
ns ns0 http://example.com/rocketservice
---
vars.dataXml.root.body.ns0#UpdateLaunchRequest]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Successfull update message for user" doc:id="2185fa2d-84df-4a22-99ed-32ecc862e049" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Updated successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d24a2086-1f1f-4d2f-8244-a566cf30b529" message='#["SUCCESS: Launch with externalID #[vars.externalId] was updated."]' />
	
</flow>
	<flow name="updateRocket" doc:id="a62e5a9c-6df9-4750-ad74-cf8d9eca01a2">
		<ee:transform doc:name="Prepare SOAP request body" doc:id="173ad297-8eea-4396-b586-240a11d756c5">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="dataXml"><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
root: payload]]></ee:set-variable>
				<ee:set-variable variableName="externalId"><![CDATA[ns ns0 http://example.com/rocketservice
---
payload.body.ns0#UpdateRocketRequest.externalId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<xml-module:validate-schema doc:name="Validate schema of update Rocket input xml" doc:id="b6cc70a8-2921-4517-8975-1f1c92737ec3" config-ref="XML_Config" schemas="schemasUpdateRocket\schema0.xsd">
			<xml-module:content><![CDATA[#[vars.dataXml]]]></xml-module:content>
		</xml-module:validate-schema>
		<db:select doc:name="Check if input externalId exists in db" doc:id="8904109e-b767-491b-9a9a-27fc600e7ef4" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM Rockets
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check payload from db is empty collection" doc:id="b9e039e3-f8d5-45d2-9851-6bd1f1b8acb5" />
		<db:update doc:name="Update Launch in db" doc:id="9307d905-c85b-4f11-ab90-ec72ec1a7180" config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE Rockets
SET name = :name, active = :active, stages = :stages, costPerLaunch = :costPerLaunch, description = :description
WHERE externalId=:externalId;]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
ns ns0 http://example.com/rocketservice
---
vars.dataXml.root.body.ns0#UpdateRocketRequest]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Successfull update message for user" doc:id="9e7d1017-2b5f-4092-91f8-fa55b6b520ff">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Updated successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1b3bb13e-0721-46ad-bb50-ee55623a34ab" message='#["SUCCESS: Rocket with externalID #[vars.externalId] was updated."]' />
	</flow>
	<flow name="updatePayload" doc:id="e7d8c6d8-3c3b-486d-8597-9e84e20e85f9">
		<ee:transform doc:name="Prepare SOAP request body" doc:id="4a7f2240-aaee-4d18-8d10-baf6b727c5ea">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="dataXml"><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
root: payload]]></ee:set-variable>
				<ee:set-variable variableName="externalId"><![CDATA[ns ns0 http://example.com/rocketservice
---
payload.body.ns0#UpdatePayloadRequest.externalId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<xml-module:validate-schema doc:name="Validate schema of update Payload input xml" doc:id="c7b01a2f-5d64-427c-adf7-738b1a4996e8" config-ref="XML_Config" schemas="schemasUpdatePayload\schema0.xsd">
			<xml-module:content><![CDATA[#[vars.dataXml]]]></xml-module:content>
		</xml-module:validate-schema>
		<db:select doc:name="Check if input externalId exists in db" doc:id="85a67d5e-e637-47cf-8e05-5e723e4c4e09" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM Payloads
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check payload from db is empty collection" doc:id="50ea97da-1290-4d04-be26-3187c308819c" />
		<db:update doc:name="Update Launch in db" doc:id="91dea8d7-0a88-452d-b96d-2ee0764806a1" config-ref="Database_Config">
			<db:sql><![CDATA[UPDATE Rockets
SET name = :name, type = :type, weight = :weight, orbit = :orbit, apoapsis = :apoapsis, periapsis = :periapsis
WHERE externalId=:externalId;]]></db:sql>
			<db:input-parameters><![CDATA[#[%dw 2.0
ns ns0 http://example.com/rocketservice
---
vars.dataXml.root.body.ns0#UpdatePayloadRequest]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Successfull update message for user" doc:id="b0b16d3d-c461-4084-b515-6e6e82994d8c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Updated successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fba2c45d-178f-42bb-806f-30eebb7ee668" message='#["SUCCESS: Payload with externalID #[vars.externalId] was updated."]' />
	</flow>
	<flow name="deleteLaunchpadByExternalId" doc:id="63d19d5a-a636-4c37-aea0-337108f0bcd7" >
	<set-variable value="#[ns ns0 http://example.com/rocketservice&#10;---&#10;payload.body.ns0#DeleteLaunchpadByExternalIdRequest.externalId]" doc:name="Set externalId for Launchpad" doc:id="a59749cb-7d4f-4bfc-b936-1916241c9082" variableName="externalId"/>
		<validation:is-not-null doc:name="Check externalId for Launchpad is not null" doc:id="6ee463f3-ecc2-49ad-80ca-19fc1c839640" value="#[vars.externalId]"/>
		<db:select doc:name="Check if input externalId exists in db" doc:id="10be9564-baba-48c1-9f97-c50a5b52b162" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Launchpads
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check payload from db is not empty collection" doc:id="d74cc609-c8c3-48f4-abd8-e14b24fe317c" />
		<db:delete doc:name="Delete Launchpad by externalId from db" doc:id="9765a9fa-a0c0-4753-8887-f08b3062619f" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM Launchpads 
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Successfull delete message for user">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Deleted successfully"
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a233209f-b268-4609-b0af-37268d035634" message='#["SUCCESS: Launchpad with externalID #[vars.externalId] was deleted."]' />
	
</flow>
	<flow name="deleteLaunchByExternalId" doc:id="938637d2-2723-471a-b8dd-8ed67ef7c3a5" >
	<set-variable value="#[ns ns0 http://example.com/rocketservice&#10;---&#10;payload.body.ns0#DeleteLaunchByExternalIdRequest.externalId]" doc:name="Set externalId for Launch" doc:id="f1e550aa-4237-4a9e-baf6-18067942c30f" variableName="externalId"/>
		<validation:is-not-null doc:name="Check externalId for Launch is not null" doc:id="6a4d9a1a-49c7-4116-95b6-6cc2c6933d9f" value="#[vars.externalId]"/>
		<db:select doc:name="Check if input externalId exists in db" doc:id="0793ec08-4470-4cce-a4ab-07c89ed03ce0" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Launches
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check payload from db is not empty collection" doc:id="7ce90c14-d269-44c1-88b4-d2e071ff477d" />
		<db:delete doc:name="Delete Launch by externalId from db" doc:id="9fc82235-0b3b-4b47-9c91-a499bae26595" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM Launches 
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Successfull delete message for user">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Deleted successfully"
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6d365543-779c-45b1-98e2-5fcb0a21c70d" message='#["SUCCESS: Launch with externalID #[vars.externalId] was deleted."]' />
	
</flow>
	<flow name="deleteRocketByExternalId" doc:id="1b896d3c-916b-431b-b7fc-55928187ef56" >
		<set-variable value="#[ns ns0 http://example.com/rocketservice&#10;---&#10;payload.body.ns0#DeleteRocketByExternalIdRequest.externalId]" doc:name="Set externalId for Rocket" doc:id="312cfd6c-f9da-4bd6-8a82-c4df9c821e5f" variableName="externalId" />
		<validation:is-not-null doc:name="Check externalId for Rocket is not null" doc:id="1186a1c9-1371-4e00-9457-31d84fc9d208" value="#[vars.externalId]" />
		<db:select doc:name="Check if input externalId exists in db" doc:id="90a9c865-879b-468b-abfa-de3580c421ec" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM Rockets
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check payload from db is not empty collection" doc:id="79d6cdd5-fba6-4255-aafe-d6409949b63f" />
		<db:delete doc:name="Delete Rocket by externalId from db" doc:id="2d8ff3a2-6412-4966-b9a0-5559a9a8209c" config-ref="Database_Config" >
			<db:sql ><![CDATA[DELETE FROM Rockets 
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Successfull delete message for user" doc:id="e25cc538-f060-4c67-be73-30f9560fb8ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Deleted successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="230bcdcb-1a8f-4673-97c3-f1147a71ecac" message='#["SUCCESS: Rocket with externalID #[vars.externalId] was deleted."]' />
	</flow>
	<flow name="deletePayloadByExternalId" doc:id="23fe8fdc-df09-47a2-b87f-ed575bcee3c8" >
		<set-variable value="#[ns ns0 http://example.com/rocketservice&#10;---&#10;payload.body.ns0#DeletePayloadByExternalIdRequest.externalId]" doc:name="Set externalId for Payload" doc:id="e3614065-2d79-4d2f-ada9-2d1c5c25d294" variableName="externalId" />
		<validation:is-not-null doc:name="Check externalId for Payload is not null" doc:id="b2124caa-2a53-4d37-aaf1-7fcb25bc7235" value="#[vars.externalId]" />
		<db:select doc:name="Check if input externalId exists in db" doc:id="5d433e55-ee05-40bb-be41-c043477c4123" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM Payloads
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:select>
		<validation:is-not-empty-collection doc:name="Check payload from db is not empty collection" doc:id="7ab51e72-be82-46c8-bb69-315fd5666409" />
		<db:delete doc:name="Delete Payload by externalId from db" doc:id="808deca5-60b9-469b-b88c-eb9a85ec6bcc" config-ref="Database_Config" >
			<db:sql ><![CDATA[DELETE FROM Payloads
WHERE externalId=:val;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.externalId}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Successfull delete message for user" doc:id="ab4ad386-1a78-44b0-9c8d-31df2fd8b88f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Result: {
            message: "Deleted successfully"
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="36906c75-9538-4df1-b600-389e6fb9571a" message='#["SUCCESS: Payload with externalID #[vars.externalId] was deleted."]' />
	</flow>
	
</mule>
