Salesforce-System-API_Sofiya/salesforce-system-api/src/main/mule/ua-1185-salesforce-system-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:azure-key-vault="http://www.mulesoft.org/schema/mule/azure-key-vault" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/azure-key-vault http://www.mulesoft.org/schema/mule/azure-key-vault/current/mule-azure-key-vault.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="createCase" doc:id="e7df28ba-0d0c-453c-93cf-d88d1e5b8830" >
		<http:listener doc:name="Listener POST /cases" doc:id="3600b39b-5964-40e1-904f-3d4bcc3c44e3" config-ref="salesforce-system-api-httpListenerConfig" path="${cases.endpoint}"/>
		<ee:transform doc:name="Transform Message Json to Java" doc:id="453f4fd5-94e2-4fef-82fa-9e2aa8d38cee">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="6d4490e0-0c00-4a2d-88dd-abce0e48643e" config-ref="Salesforce_Global_Config" type="Case" />
		<ee:transform doc:name="Transform Message to JSON" doc:id="9c2410c6-72e7-44f5-ab54-39a54a460596" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Create Case Logger" doc:id="29bd08f7-0696-4444-bb99-e62a37233403" message='#[output application/java&#10;---&#10;"SUCCESS: Salesforce-System-API created case to Salesforce API"]'/>
	</flow>
	<flow name="createContract" doc:id="93411593-a10b-4e03-8141-cd360e411333" >
		<http:listener doc:name="Listener POST /salesforce" doc:id="f3f61bd5-973d-4a00-be6c-b4b97b38b2ad" config-ref="salesforce-system-api-httpListenerConfig" path="${salesforce.endpoint}"/>
		<ee:transform doc:name="Transform Message Json to Java" doc:id="cb37db8f-a3ee-4f4c-aaa5-7ac33c372b4e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ((item, index) -> 
    item ++ {
        StartDate: item.StartDate as Date,
        DateCreation__c: item.DateCreation__c as Date
    }
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="b7443cd4-4c60-45e0-aa09-8f1743fe327c" config-ref="Salesforce_Global_Config" type="Contract"/>
		<ee:transform doc:name="Transform Message to JSON" doc:id="133e37ce-a31f-4363-aa3f-fea39eb04812" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Create Contract Logger" doc:id="bd91503f-158c-4075-95e8-d75a92fbf368" message='#[output application/java&#10;---&#10;"SUCCESS: Salesforce-System-API created contract to Salesforce API"]'/>
	</flow>
	<flow name="updateContract" doc:id="e7c5a19f-80a6-42c7-b4cb-6850db834829" >
		<http:listener doc:name="Listener PUT /contracts" doc:id="4774c3be-510d-4540-ab0a-49f2d6178df5" config-ref="salesforce-system-api-httpListenerConfig" path="${contracts.endpoint}"/>
		<ee:transform doc:name="Transform Message Json to Java" doc:id="73db79e1-ff3f-4a86-aa9a-2812d8fc84b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ((item, index) -> 
    item ++ {
        StartDate: item.StartDate as Date,
        DateCreation__c: item.DateCreation__c as Date
    }
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update doc:name="Update" doc:id="51098eb7-cea5-450a-a019-db81e0455f7e" config-ref="Salesforce_Global_Config" type="Contract"/>
		<ee:transform doc:name="Transform Message to JSON" doc:id="9e425c49-a519-46f8-a577-9b017e31d267" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Create Contract Logger" doc:id="22d0318f-b9a6-4403-b953-875deab723ce" message='#[output application/java&#10;---&#10;"SUCCESS: Salesforce-System-API updated contract in Salesforce API"]'/>
	</flow>
	<flow name="getContractById" doc:id="fb0e05f9-e3ea-44dd-8042-c32fc861182f">
		<http:listener doc:name="Listener GET /contracts/{id}" doc:id="d95f1039-6c1c-465e-a294-f4baff0e64c8" config-ref="salesforce-system-api-httpListenerConfig" path="/contracts/{id}" />
		<ee:transform doc:name="Transform Message Json to Java" doc:id="8df7ff6e-8f34-40ff-81ef-2ea82a139f1a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"SELECT Id, AccountId, ExternalId__c, SuccessStatus__c, DateCreation__c, Details__c, RocketName__c, NameSalesforce__c, Status, StartDate, ContractTerm FROM Contract WHERE ExternalId__c = '" ++ (attributes.uriParams.id default "5eb87cddffd86e000604b32f")  ++ "'"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="19ecb02b-40c6-4f6e-9659-a134a85bc29c" config-ref="Salesforce_Global_Config">
			<salesforce:salesforce-query><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<choice doc:name="Choice the Payload" doc:id="4e251b40-1144-40ea-a411-9f48b4352fe0">
			<when expression="#[payload != null]">
				<ee:transform doc:name="Transform Message to JSON" doc:id="db6bb5d1-e9c3-4fe5-af24-ba62206754ce">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Contract Retrieved Logger " doc:id="9f595e69-6ef8-4f27-81fb-255b4e6b25da" message='#[output application/java&#10;---&#10;"SUCCESS: Retrieved contract with ID: #[attributes.uriParams.id]"]' />
			</when>
			<otherwise>
				<set-variable value="#[204]" doc:name="Set Status Variable" doc:id="092070f5-0d73-479a-b058-de38df1dadf9" variableName="httpStatus" />
				<logger level="INFO" doc:name="Contract Not Found Logger " doc:id="23931743-f875-4cda-a79e-bf352a664db5" message='#[output application/java&#10;---&#10;"SUCCESS: Contract with #[attributes.uriParams.id] ID was not found"]' />
			</otherwise>
		</choice>
	</flow>
</mule>
